.bannerQuizLoL {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fundoQuizLoL {
    width: 100%;
    height: 90%;
    position: absolute;
    z-index: -1;
    background-image: url(../assets/img/fundoQuizLoL.jpg);
    background-size: cover;
    opacity: 0.3;
}

.cardPerguntaResposta {
    width: 35%;
    height: 95%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border: 5px solid #ffdd00;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cardPerguntaResposta button {
    width: 50%;
    height: 13%;
    border: none;
    background-color: #ffdd00;
    cursor: pointer;
    transition: 0.3s;
}

.cardPerguntaResposta button:hover {
    border: 3px solid #fff;
    color: #fff;
    transform: translateY(-10px);
}

.cardAlternativas {
    width: 90%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.exibirAcertos {
    width: 90%;
    height: 40%;
    background-color: #ffdd00;
    display: flex;
    justify-content: center;
    align-items: center;
}