.header {
    position: absolute;
}

.bannerForms {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.text h2 {
    margin: 0;
    color: #000;
    font-size: 30px;
}

.cardAmarelo {
    width: 85%;
    height: 75%;
    background-color: #ffdd00;
    margin-bottom: 25px;
    display: flex;
}

.formulario {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs {
    width: 100%;
    height: 85%;
    display: flex;
}

.inputsPT1 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 30px; 
}

.inputs input {
    width: 70%;
    height: 20px;
    border: none;
    margin-top: 10px;
}

.inputs select {
    height: 20px;
    border: none;
    margin-top: 10px;
}

.entrada, .checkSim, .checkNao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.checkSim, .checkNao {
    align-items: center;
    margin: 5px;
}

.checkSimNao {
    display: flex;
    justify-content: space-evenly;
}

.inputsPT2 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 30px;
}

.inputsPT2 label {
    text-align: left;
}

.botao {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao button {
    height: 60%;
    width: 25%;
    border: 3px #000 solid;
    background-color: #fff;
    border-radius: 32px;
}

.botao button:hover {
    transform: translateY(-10px);
    transition: 0.5s;
    background-color: #000;
    border-color: #fff;
    color: #fff;

}

.divArcade {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.manchaFundo {
    width: 420px;
    height: 420px;
    background-image: url(assets/img/fundoMancha.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.manchaFundo img  {
    width: 300px;
}

.manchaFundo img:hover {
    transform: scale(1.2);
    transition: 1s;
}