@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@font-face {
    font-family: 'quartell';
    src: url(assets/fonts/Quartell\ VF.ttf) format(truetype);
    font-size: 16px;
    font-weight: normal;
}
@font-face {
    font-family: 'magnifico-nighttime';
    src: url(assets/fonts/magnifico-nighttime-itc-std.otf) format(opentype);
    font-size: 16px;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow-x: hidden;
}

a {
    padding: 6px 10px;
    text-decoration: none;
    text-align: center;
}

.header nav {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header ul {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header li {
    margin: 0px 2px;
    display: flex;
    justify-content: center;
}

.bannerHome p {
 width: 40rem;
}

::-webkit-scrollbar {
    display: none;
}

.whiteBar {
    background-color: #fff;
    width: 100vw;
    height: 40px;
}

.header {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: static;
    z-index: 1;
}

.logo_title {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 10px;
}

.logo_title h1 {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    text-align: center;
    position: relative;
}

.logo_title h1::before {
    content: "";
    background-color: #ffdd00;
    position: absolute;
    left: 15px;
    bottom: 0;
    height: 3px;
    width: 0;
    transition: 0.3s ease-in-out;
}

.logo_title h1:hover::before {
    content: "";
    background-color: #ffdd00;
    position: absolute;
    left: 15px;
    bottom: 0;
    height: 3px;
    width: 90%;
}

.amarelo {
    color: #ffdd00;
}

.logo_title img {
    width: 3.5rem;
}

.navBar {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    right: -500px;
    pointer-events: none;
    opacity: 0;
    transition: 0.2s;
}

.active.navBar {
    pointer-events: fill;
    opacity: 1;
    left: 300px;
}

.navBar a {
    font-family: 'quartell', Times, serif;
    color: black;
    font-size: 18px;
}

.navBar a:hover {
    border-radius: 16px;
    background-color: #ffdd00;
    box-shadow: 
     rgba(0, 0, 0, 0.5) 2px 2px,
     rgba(0, 0, 0, 0.4) 4px 4px,
     rgba(0, 0, 0, 0.3) 6px 6px,
     rgba(0, 0, 0, 0.2) 7px 7px,
     rgba(0, 0, 0, 0.1) 9px 9px;
}

.navBar img {
    display: flex;
    align-items: center;
    width: 50%;
}

.iconBox {
    width: fit-content;
    height: auto;
    cursor: pointer;
}

.line1, .line2, .line3 {
    width: 55px;
    height: 5px;
    margin: 8px 5px;
    background-color: #ffdd00;
    border-radius: 50px;
    transition: 0.2s;
}

.active .line1 {
    transform: translate(0px, 12.5px) rotate(45deg);
}

.active .line2 {
    opacity: 0;
}

.active .line3 {
    transform: translate(0px, -12.5px) rotate(-45deg);
}

.bannerHome {
    display: flex;
    flex-direction: column;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.text h2 {
    font-family: 'quartell', Times, serif;
    color: #ffdd00;
    text-decoration: underline;
    font-size: 40px;
    margin: 0px 0px 30px;
}

.text p {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

/* Personalização do h3 da pagina games */
.orgsReferencia h3 {
    font-family: 'quartell', Times, serif;
    color: #ffdd00;
    text-decoration: underline;
    font-size: 25px;
    text-align: center;
}

.firstPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.firstPage .fundoPagina1 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: url(https://wallpapersmug.com/u/061781/pubg-battlegrounds-2023.jpg);
    background-size: cover;
    opacity: 0.2;
}

.firstPage .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 15%;
}

.firstPage .text h2 {
    font-weight: bold;
    font-size: 100px !important;
    text-align: center;
    margin: 0px 0px 20px !important;
}

.firstPage .text p {
    font-family: 'magnifico-nighttime', Times, serif;
    text-align: center;
    font-size: 50px;
}

.frase1 {
    width: fit-content;
    color: #fff !important;
}

.frase2 {
    color: #ffdd00 !important;
}

.secondPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondPage .fundoPagina2 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: url(https://cutewallpaper.org/21/8-bit-backgrounds/15080929.jpg);
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
}

.secondPage img {
    z-index: 2;
    width: 25%;
}

.secondPage .text h2 {
    text-align: center;
}

.secondPage .text p {
    text-align: center;
}

.thirdPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.thirdPage img {
    height: 100vh;
    position: absolute;
    z-index: -1;
    right: -100px;
    opacity: 0.2;
}

.thirdPage .text {
    position: relative;
    left: 50px;
}

.thirdPage .text h2 {
    text-align: center;
}

.fourthPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center; 
}

.fourthPage .text {
    position: relative;
    left: 600px;
}

.fourthPage img {
    height: 100vh;
    position: absolute;
    z-index: -1;
    left: -50px;
    opacity: 0.2;
}

.fourthPage .text h2 {
    text-align: center;
}

.fourthPage .text p {
    text-align: center;
}

.orgs {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: -1;
}

.carousel {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.menuOrgs {
    width: 35%;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffdd00;
    border: 3px solid #fff;
    
}

.menuOrgs img {
    width: 100px;
    height: 100px;
}

.menuOrgs img {
    margin-top: 20px;
}

.logoTimes {
    margin-top: 15px;
    height: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
}